@model AidCare_The_Rise_Of_The_Aid.Models.protest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>protest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtestLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtestLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.protestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
